/* Slider */
.slider {
  background-image: url(../img/big_004.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 599px;
  background-position: -23px -65px;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
}

.background-dark {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 547px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  .menu {
    margin-left: 16px;
    .menu-item {
      display: inline-block;
      margin: 10px 15.5px 0 8.5px;
      a {
        font-family: latoregular, sans-serif;
        text-decoration: none;
        color: white;
        font-size: 21px;
      }
      a:hover {
        color: #00b3ee;
        cursor: url("../img/clicker.png"), auto;
      }
    }
  }
}

.slider-title {
  margin: 100px 0 0 4px;
  .slider-titleText {
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: -0.2px;
  }
  .slider-title-separator {
    width: 144px;
    margin-top: -2px;
  }
  .slider-titleName {
    text-align: center;
    color: white;
    font-size: 29px;
    font-weight: bold;
    width: 617px;
    text-transform: uppercase;
    margin-left: 291px;
    margin-top: -1px;
    line-height: 35px;
    letter-spacing: 0.3px;
  }

}

.titleBtnGroup {
  text-align: center;
  margin: 49px 0 0 7px;
  .btn-custom {
    width: 293px;
    height: 57px;
    font-size: 24.5px;
    color: white;
    border: none;
    text-align: center;
  }
  .btn-appointment {
    background-color: #46b6e3;
  }
  .titleBtnGroup-separator {
    font-size: 24.5px;
    color: white;
    border: none;
    text-align: center;
    margin: 11px 0 0 6px;
    vertical-align: sub;
  }
  .btn-askDoctor {
    margin-left: 7px;
    margin-top: 2px;
    background: transparent;
    border: 1px solid white;
  }

}

.factsAboutCompany {
  margin: 72px 0 0 188px;
  .factsAboutCompany-item {
    display: inline-block;
    width: 201px;
    height: 248px;
    background-color: rgba(70, 182, 227, 0.86);
    color: white;
    .factsAboutCompany-number{
      font-size: 40px;
      text-align: center;
      margin: 9px 0 0 4px;
      letter-spacing: 1px;
      font-weight: 900;
      font-family: latobold;
    }
    .factsAboutCompany-fact{
      margin: 99px 0 0 10px;
      font-size: 17.5px;
      text-align: center;
      line-height: 20px;
    }
    .factsAboutCompany-separator{
      width: 108px;
      margin: 12px 0 0 50px;
    }
  }
  .lighter {
    background-color: #70c7ea;
    background-color: rgba(112, 199, 234, 0.86);
  }
}